# Xcode
*.xcodeproj
!Example/EmojiPickerExample.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Misc
*.moved-aside
*.hmap
*.ipa
